h1{
    font-size: 4rem;
}

#title{
    background-color: rgb(44, 44, 44);
    padding: 30% 15% 7%;
}

#navbar{
    background-color: rgb(44, 44, 44);
    margin: 3%;
}

#editorsPicks {
    background-color: #e6412f;
    display: grid;
    height: 450px;
    padding: 5% 10%;
  }

.editorimage{
    max-width: 60%;
    height: auto;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
    transition: 0.5s ease;
    cursor: pointer;
    margin:30px;
}

.editorimage:hover {
    transform: scale(1.15);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
  }

#UpcomingGames{
    background-color: #e6412f;
    display: grid;
    height: 120vh;
    place-items: center;
}

#ContactMe {
    background-color: #ffffff;
    height: 200px;
    margin: auto;
  }

/* OUT NOW SECTION */

.outNow {
    background-color: #e6412f;
    display: grid;
    height: 120vh;
    place-items: center;
  }
  
/* CARD 1 */

  .card1 {
    display: grid;
    height: 55vh;
    width: 150px;
  
    background: rgb(48, 45, 45);
    background-image: url(https://th.bing.com/th/id/OIP.uTVX2cVxNYyp75jm0z4HOwHaNK?pid=ImgDet&rs=1);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
    font-family: roboto;
    text-align: center;

    transition: 0.5s ease;
    cursor: pointer;
    margin:30px;
  }


  .card1:hover {
    transform: scale(1.15);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
  }

/* CARD 2 */

.card2 {
    display: grid;
    height: 55vh;
    width: 150px;
  
    background: rgb(48, 45, 45);
    background-image: url(https://i.pinimg.com/originals/f7/ae/83/f7ae83b87d71455afe9bea50e9e55c64.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
    font-family: roboto;
    text-align: center;

    transition: 0.5s ease;
    cursor: pointer;
    margin:30px;
  }


  .card2:hover {
    transform: scale(1.15);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
  }

/* CARD 3 */

.card3 {
    display: grid;
    height: 55vh;
    width: 150px;
  
    background: rgb(48, 45, 45);
    background-image: url(https://i.pinimg.com/originals/31/8a/52/318a52c1a1b2ceabf67b809a0fb40d5f.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
    font-family: roboto;
    text-align: center;

    transition: 0.5s ease;
    cursor: pointer;
    margin:30px;
  }


  .card3:hover {
    transform: scale(1.15);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
  }

/* CARD 4 */

.card4 {
    display: grid;
    height: 55vh;
    width: 150px;
  
    background: rgb(48, 45, 45);
    background-image: url(https://th.bing.com/th/id/R.9ba404343037c1790e703c9c40c5e47b?rik=IRKDRxEJsNsDxA&pid=ImgRaw&r=0);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
    font-family: roboto;
    text-align: center;

    transition: 0.5s ease;
    cursor: pointer;
    margin:30px;
  }


  .card4:hover {
    transform: scale(1.15);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
  }

/* CARD 5 */

.card5 {
    display: grid;
    height: 55vh;
    width: 150px;
  
    background: rgb(48, 45, 45);
    background-image: url(https://wallpapercave.com/wp/wp7232751.png);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
    font-family: roboto;
    text-align: center;

    transition: 0.5s ease;
    cursor: pointer;
    margin:30px;
  }


  .card5:hover {
    transform: scale(1.15);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
  }

/* CARD 6 */

.card6 {
    display: grid;
    height: 55vh;
    width: 150px;
  
    background: rgb(48, 45, 45);
    background-image: url(https://wallpaperaccess.com/full/4212941.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
    font-family: roboto;
    text-align: center;

    transition: 0.5s ease;
    cursor: pointer;
    margin:30px;
  }


  .card6:hover {
    transform: scale(1.15);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
  }



