<%- include('partials/header') %>

<body>
  <section id="loginSection">
    <div>
      <h2>Login</h2>

      <form action="/login" method="post">
        <label for="email">Email</label>
        <input type="email" name="email" id="" />

        <label for="password">Password</label>
        <input type="password" name="password" id="" />

        <a href="/profile"
          ><button type="submit" class="btn btn-dark">Login</button></a
        >
      </form>

      <p>Don't have an account? Register <a href="/register">here</a></p>
    </div>

    <div>
      <div class="card">
        <div class="card-body">
          <a class="btn btn-block btn-danger" href="/auth/google" role="button">
            <i class="fab fa-google"></i>
            Sign in with Google
          </a>

          <a class="btn btn-block btn-primary" href="" role="button">
            <i class="fab fa-twitter"></i>
            Sign in with Twitter
          </a>
        </div>
      </div>
    </div>
  </section>
</body>
